{% load subtraction_filter %}


<div class="toast border-top-0 bg-light shadow-lg" data-bs-autohide="false" data-toast-id="{{ message.id }}" data-is-search-toast="{% if arrow_class == 'search' %}true{% else %}false{% endif %}">
    {% if arrow_class %}
        <div class="position-absolute arrow-up border-{{ colour }} {{ arrow_class }}-arrow"></div>
    {% endif %}
    <div class="toast-content-wrapper bg-light">
        <div class="w-100 toast-capper bg-{{ colour }}"></div>
        <div class="toast-header bg-light text-dark">
            <h6 class="me-auto">{{ title }}<span class="icon text-{{ colour }}"><i class="fas fa-{{ icon }}-circle"></i></span></h6>
            <button type="button" class="ms-2 mb-1 btn-close text-dark" data-bs-dismiss="toast" aria-label="Close"></button>
            <hr class="toast-header-hr position-absolute mb-0 text-dark">
        </div>
        <div class="toast-body bg-light">
            <div class="row">
                <div class="col">
                    <span>{{ message|linebreaksbr }}</span>
            {% if '_basket' in message.message_from and message.product_id and basket.grand_total %}
                        <hr class="mt-1 mb-3">
                    </div>
                </div>
                    {% if 'remove_from_basket' not in message.message_from %}
                            {% for item in basket.items %}
                                {% if item.product.id == message.product_id %}
                                    <p class="bg-light text-dark py-1">Your Basket Contains...</p>

                                    <div class="basket-notification-wrapper border border-1 border-{{ colour }}">
                                        {% with item_name=item.product.name item_quantity=item.quantity item_subtotal=item.subtotal %}
                                            {% if item.product.image %}
                                                {% include 'toasts/includes/toast_product_card.html' with item_image=item.product.image item_image_url=item.product.image.url %}
                                            {% else %}
                                                {% include 'toasts/includes/toast_product_card.html' %}
                                            {% endif %}
                                        {% endwith %}
                                    </div>

                                    {% if basket.product_count|subtract:item.quantity > 0 %}
                                        {% with basket.product_count|subtract:item.quantity as other_items %}
                                            <p class="bg-light text-dark mb-0 py-1 text-end">...and {{ other_items }} other item{% if other_items > 1 %}s{% endif %}</p>
                                        {% endwith %}
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                    {% elif 'remove_from_basket' in message.message_from and basket.removed_item %}
                        <div class="basket-notification-wrapper border border-1 border-danger">
                            {% with item_name=basket.removed_item.product.name item_quantity=basket.removed_item.quantity item_subtotal=basket.removed_item.subtotal %}
                                {% if basket.removed_item.product.image %}
                                    {% include 'toasts/includes/toast_product_card.html' with item_image=basket.removed_item.product.image item_image_url=basket.removed_item.product.image.url %}
                                {% else %}
                                    {% include 'toasts/includes/toast_product_card.html' %}
                                {% endif %}
                            {% endwith %}
                        </div>
                    {% else %}
                        <p class="bg-light text-dark py-1">Your Basket ({{ basket.product_count }} items)</p>

                        <div class="basket-notification-wrapper">
                            {% for item in basket.items %}
                                {% with item_name=item.product.name item_quantity=item.quantity item_subtotal=item.subtotal %}
                                    {% if item.product.image %}
                                        {% include 'toasts/includes/toast_product_card.html' with item_image=item.product.image item_image_url=item.product.image.url %}
                                    {% else %}
                                        {% include 'toasts/includes/toast_product_card.html' %}
                                    {% endif %}
                                {% endwith %}
                            {% endfor %}
                        </div>
                    {% endif %}
                    <div class="row">
                        <div class="col">
                            <strong><p class="mt-3 mb-0 text-dark">
                                Basket Total{% if basket.free_delivery_delta > 0 %} (Exc. delivery){% endif %}: £{{ basket.total|floatformat:2 }}
                            </p></strong>
                            {% if basket.free_delivery_delta > 0 %}
                                <p class="mt-1 mb-0 text-dark">
                                    Delivery: £{{ basket.delivery|floatformat:2 }}
                                </p>
                            {% endif %}
                            {% if basket.free_delivery_delta > 0 %}
                                <p class="mb-0 mt-1 p-2 bg-info shadow-sm text-dark text-center">
                                    Spend another <strong>£{{ basket.free_delivery_delta }}</strong> to get free delivery!
                                </p>
                            {% endif %}
                            {% if view == 'basket' %}
                                <a {% if basket.errors == 0 %}href="{% url 'checkout' %}"{% endif %} class="w-100 mt-1 btn btn-dark text-light btn-block hover-background-red{% if basket.errors > 0 %} disabled{% endif %}">
                                    <span class="text-uppercase">Checkout</span>
                                    <span class="icon">
                                        <i class="fas fa-lock"></i>
                                    </span>
                                </a>
                            {% else %}
                                <div class="row">
                                    <div class="col-12 col-sm-6 pe-sm-1">
                                        <a href="{% url 'view_basket' %}" class="w-100 mt-1 btn btn-dark text-light btn-block hover-background-red position-sm-relative icon-end">
                                            <span class="text-uppercase">Basket</span>
                                            <span class="icon">
                                                <i class="fas fa-shopping-basket"></i>
                                            </span>
                                        </a>
                                    </div>
                                    <div class="col-12 col-sm-6 ps-sm-1">
                                        <a {% if basket.errors == 0 %}href="{% url 'checkout' %}"{% endif %} class="w-100 mt-1 btn btn-dark text-light btn-block hover-background-red position-sm-relative icon-end{% if basket.errors > 0 %} disabled{% endif %}">
                                            <span class="text-uppercase">Checkout</span>
                                            <span class="icon">
                                                <i class="fas fa-lock"></i>
                                            </span>
                                        </a>
                                    </div>
                                </div>
                            {% endif %}
                        </div>
                    </div>
            {% elif 'remove_from_basket' in message.message_from and basket.removed_item %}
                        <hr class="mt-1 mb-3">
                    </div>
                </div>
                <div class="basket-notification-wrapper border border-1 border-danger">
                    {% with item_name=basket.removed_item.product.name item_quantity=basket.removed_item.quantity item_subtotal=basket.removed_item.subtotal %}
                        {% if basket.removed_item.product.image %}
                            {% include 'toasts/includes/toast_product_card.html' with item_image=basket.removed_item.product.image item_image_url=basket.removed_item.product.image.url %}
                        {% else %}
                            {% include 'toasts/includes/toast_product_card.html' %}
                        {% endif %}
                    {% endwith %}
                </div>
                <div class="row">
                    <div class="col">
                        <strong><p class="mt-3 mb-0 text-dark">
                            Your Basket is now empty.
                        </p></strong>
                    </div>
                </div>
            {% else %}
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
</div>