{% extends "base.html" %}

{% block page_header %}
    <div class="header-spacer"></div>
{% endblock page_header %}

{% block content %}
    <div class="container-fluid h-100">
        <div id="cta-row" class="row h-100 align-items-center justify-content-center">
            <div id="cta-container" class="col-10 col-sm-7 col-md-6 p-3 lighten text-center text-sm-start">
                <h1 class="display-sm-4 text-uppercase">
                    The portals are open and reinforcements have arrived!
                </h1>
                <h4 class="mt-4">
                    <a href="{% url 'all_games' %}" class="shop-now-button btn btn-lg hover-background-red text-uppercase py-3">Shop Now</a>
                </h4>
            </div>
        </div>
    </div>
{% endblock content %}