{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock page_header %}

{% block content %}
    <div class="container h-100">
        <div id="index-row" class="row h-100 align-items-center justify-content-center">
            <div id="index-container" class="col-10 col-sm-7 col-md-6 p-3 lighten rounded-0">
                <h1 class="display-sm-4 logo-font text-center text-sm-start">
                    The portals are open and reinforcements have arrived!
                </h1>
                <h4 class="mt-4 text-center text-sm-start">
                    <a href="" class="shop-now-button btn btn-lg rounded-0 hover-background-red text-uppercase py-3">Shop Now</a>
                </h4>
            </div>
        </div>
    </div>
{% endblock content %}