<div class="row">
    {% for product in products %}
        <div class="{% if view == 'product_detail' %}col-12 col-lg-10 offset-lg-1 mt-5{% else %}col-sm-6 col-lg-4 col-xxl-3 mb-sm-4 {% if view == 'all_games' %}col-xxl-3{% else %}col-xxxl-2{% endif %}{% endif %}">
            <div class="card h-100 {% if view != 'product_detail' %}shadow-sm-lg border-sm-1 p-sm-3{% else %}border-0{% endif %}">
                {% if view == 'product_detail' %}
                <div class="row g-0">
                    <div class="col-12 col-lg-6">
                {% endif %}
                <div class="{% if view == 'all_games' %}product-line-image-container{% elif view == 'product_detail' %}product-detail-image-container pe-lg-3{% else %}product-image-container{% endif %}{% if view != 'product_detail' %} py-sm-3 border-sm-bottom{% endif %} position-relative d-flex flex-column justify-content-center align-items-center">
                    <a {% if view != 'product_detail'%}href="{% if view == 'all_games' %}{% url 'products' product.id %}{% else %}{% url 'product_detail' product.id %}{% endif %}"{% endif %} {% if view == 'product_detail'%}class="disabled text-decoration-none pe-none" aria-disabled="true"{% endif %}>
                        <img src="{% if product.image %}{{ product.image.url }}{% else %}{{ MEDIA_URL }}noimage.png{% endif %}" alt="{{ product.name }}" class="card-img-top img-fluid {% if view == 'all_games' %}product-line-image{% elif view == 'product_detail' %}product-detail-image{% else %}product-image{% endif %}">
                    </a>
                    {% if request.user.is_authenticated and request.user.is_staff and not view == 'product_detail' %}
                        <a href="{% if view == 'all_games' %}{% url 'edit' 'product_line' product.id %}{% else %}{% url 'edit' 'product' product.id %}{% endif %}" class="edit-product btn btn-light text-red hover-background-red position-absolute top-1 start-0">
                            <span class="icon">
                                <i class="fas fa-edit"></i>
                            </span>
                        </a>
                    {% endif %}
                    {% if view != 'product_detail' and product.stock > 0 %}
                        <form action="{% url 'add_to_basket' product.id %}" method="POST" data-product-id="{{ product.id }}" class="form quick-add-form position-absolute top-1 end-0">
                            {% csrf_token %}
                            <input type="hidden" name="redirect_url" value="{{ request.path }}{% if request.META.QUERY_STRING|length > 0 %}?{{ request.META.QUERY_STRING }}{% endif %}">
                            <input type="hidden" name="quantity" value="1">
                            <button type="submit" class="quick-add btn btn-light text-red hover-background-red" value="">
                                <span class="icon position-relative">
                                    <i class="fas fa-shopping-basket"></i>
                                    <i class="fas fa-plus position-absolute fs-6-half"></i>
                                </span>
                            </button>
                        </form>
                    {% endif %}
                </div>
                {% if view == 'product_detail' %}
                    </div>
                    <div class="col-12 col-lg-6 ps-lg-3 product-detail-col d-flex flex-column justify-content-center">
                {% endif %}
                <div class="card-body pb-0 px-0">
                    {% if request.user.is_authenticated and request.user.is_staff and view == 'product_detail' %}
                    <div class="w-100 text-end">
                        <a href="{% url 'edit' 'product' product.id %}" class="edit-product btn btn-light text-red hover-background-red">
                            <span class="icon">
                                <i class="fas fa-edit"></i>
                            </span>
                        </a>
                    </div>
                    {% endif %}
                    {% if view == 'product_detail' %}
                        <h4 class="product-name text-dark">{{ product.name }}</h4>
                        <hr>
                        {% if product.description %}
                            <p class="product-description fs-6 text-dark">{{ product.description }}</p>
                            <hr>
                        {% endif %}
                    {% endif %}
                </div>
                <div class="card-footer bg-light pt-0 px-0 border-0 text-left">
                    <div class="row">
                        <div class="col">
                            {% if view != 'product_detail' %}
                                <p class="product-name mb-0 text-dark">{{ product.name }}</p>
                            {% endif %}
                            {% if product.genre %}
                                <p class="small mt-1 mb-0">
                                    <a href="" class="text-muted genre-filter-link" data-filter-value="{{ product.genre.identifier }}">
                                        {{ product.genre.name }}
                                    </a>
                                </p>
                            {% endif %}
                            {% if product.category %}
                                <p class="small mt-1 mb-0">
                                    <a href="" class="text-muted category-filter-link" data-filter-value="{{ product.category.identifier }}">
                                        {{ product.category.name }}
                                    </a>
                                </p>
                            {% endif %}
                            {% if product.publisher %}
                                <p class="small mt-1 mb-0">
                                    <a href="" class="text-muted publisher-filter-link" data-filter-value="{{ product.publisher.identifier }}">
                                        {{ product.publisher.name }}
                                    </a>
                                </p>
                            {% endif %}
                            {% if product.price %}
                                    <p class="reduced-reason mb-0 text-left d-flex flex-column justify-content-end">
                                    {% if product.reduced %}
                                        <a {% if view != 'product_detail' %}href=""{% endif %} class="text-danger {% if view == 'product_detail' %}disabled text-decoration-none pe-none {% endif %}reduced-reason-filter-link" {% if view == 'product_detail' %} aria-disabled="true"{% else %}data-filter-value="{{ product.reduced_reason.identifier }}"{% endif %}>
                                            {{ product.reduced_reason }}!
                                        </a>
                                    {% endif %}
                                    </p>
                                <p class="mb-0 text-left">
                                    <span class="lead font-weight-bold text-dark">£{{ product.get_price.price }}</span>
                                    {% if product.reduced %}<span class="small text-danger text-decoration-line-through">£{{ product.get_price.base_price }}</span>{% endif %}
                                </p>
                            {% endif %}
                            {% if product.stock_state %}
                                <p class="small mt-1 mb-0">
                                    <a {% if view != 'product_detail' %}href=""{% endif %} class="{% if product.stock > 0 and product.stock <= 5 %}text-info{% elif product.stock > 5 %}text-success{% else %}text-muted{% endif %} {% if view == 'product_detail' %}disabled text-decoration-none pe-none {% endif %}stock-filter-link" {% if view == 'product_detail' %} aria-disabled="true"{% else %}data-filter-value="{{ product.stock_state.identifier }}"{% endif %}>
                                        {% if product.stock > 0 and product.stock <= 5 %}Only {{ product.stock }} {% elif product.stock > 5 %}{{ product.stock }} {% endif %}{{ product.stock_state.state }}
                                    </a>
                                </p>
                            {% endif %}
                            {% if search_term or view == 'product_detail' %}
                                {% if product.sub_product_line.product_line %}
                                    <p class="small mt-1 mb-0">
                                        <a href="{% if view == 'product_detail' %}{% url 'products' product.sub_product_line.product_line.id %}{% endif %}" class="text-muted{% if view != 'product_detail' %} product-line-filter-link{% endif %}" {% if view != 'product_detail' %}data-filter-value="{{ product.sub_product_line.product_line.identifier }}"{% endif %}>
                                            {{ product.sub_product_line.product_line.name }}
                                        </a>
                                    </p>
                                {% endif %}
                            {% endif %}
                            {% if product.sub_product_line %}
                                <p class="small mt-1 mb-0">
                                    {% if search_term %}<i class="fas fa-level-up-alt text-muted sub-arrow"></i>{% endif %}
                                    <a href="{% if view == 'product_detail' %}{% url 'products' product.sub_product_line.product_line.id %}?category={{ product.sub_product_line.identifier }}{% endif %}" class="text-muted{% if view != 'product_detail' %} category-filter-link{% endif %}" {% if view != 'product_detail' %}data-filter-value="{{ product.sub_product_line.identifier }}"{% endif %}>
                                        {{ product.sub_product_line.name }}
                                    </a>
                                </p>
                            {% endif %}
                            {% if search_term %}
                                <p class="small mt-1 mb-0">
                                    <a href="" class="text-muted publisher-filter-link" data-filter-value="{{ product.sub_product_line.identifier }}">
                                        {{ product.sub_product_line.product_line.publisher.name }}
                                    </a>
                                </p>
                            {% endif %}
                        </div>
                    </div>
                </div>
                {% if view == 'product_detail' %}
                    {% include 'products/includes/shopping_controls.html' %}
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
        {% if not view == 'product_detail' %}
            <div class="col-12 d-sm-none my-3 text-dark">
                <hr>
            </div>
        {% endif %}
    {% endfor %}
</div>