<form {% if product.stock > 0 %}action="{% url 'add_to_basket' product.id %}" method="POST" data-product-id="{{ product.id }}" {% endif %}class="form qty-form">
    {% if product.stock > 0 %}
        {% csrf_token %}
    {% endif %}
    <div class="form-row">
        {% if product.stock > 0 %}
            <div class="col-12">
                <p class="mt-3"><strong>Quantity:</strong></p>
                {% comment %} <div class="form-group col-12 col-lg-6 qty-input-group">
                    <div class="input-group qty-input-container">
                        <div class="input-group-prepend">
                            <button class="decrement-qty btn btn-dark hover-background-red" data-product-id="{{ product.id }}">
                                <span class="icon">
                                    <i class="fas fa-minus"></i>
                                </span>
                            </button>
                        </div>
                        <input class="form-control qty-input" type="number" name="quantity" value="1" min="1" max="10" data-product-id="{{ product.id }}" required>
                        <div class="input-group-append">
                            <button class="increment-qty btn btn-dark hover-background-red" data-product-id="{{ product.id }}">
                                <span class="icon">
                                    <i class="fas fa-plus"></i>
                                </span>
                            </button>
                        </div>
                    </div>
                </div> {% endcomment %}
                <div class="dropdown-wrapper qty-dropdown select-only d-inline-block">
                    <div class="dropdown qty-border position-relative d-inline-block mb-2">
                        <a class="text-dark dropdown-toggle text-decoration-none " href="#" id="productQty{{ product.id }}" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            1
                        </a>
                        <div class="dropdown-menu bg-light text-dark shadow-lg" aria-labelledby="productQty{{ item.product.id }}">
                            {% for num in "n"|ljust:product.max_per_purchase %}
                                <a href="#" data-value="{{ forloop.counter }}" class="dropdown-item">{{ forloop.counter }}</a>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <input type="hidden" name="quantity" value="1">
            </div>
        {% endif %}
        <div class="col-12 mt-2 text-end text-lg-start shopping-control-btn-row-min">
            <a href="{% url 'products' product.sub_product_line.product_line.id %}" class="btn btn-outline-dark hover-background-red my-3 position-relative">
                <span class="icon">
                    <i class="fas fa-chevron-left"></i>
                </span>
                <span>Keep Shopping</span>
            </a>
            <input {% if product.stock > 0 %}type="submit"{% else %}type="button"{% endif %} class="btn btn-dark hover-background-red my-3{% if product.stock < 1 %} disabled{% endif %}" value="Add to Basket">
        </div>
        {% if product.stock > 0 %}
            <input type="hidden" name="redirect_url" value="{{ request.path }}">
        {% endif %}
    </div>
</form>