{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="header-spacer"></div>
{% endblock page_header %}

{% block content %}
    <div class="h-100 w-100 bg-light position-fixed top-0 left-0 z-index-bottom"></div>
    <div class="container mt-3 mb-2">
        <div class="row">
            <div class="col">
                <h2 class="text-uppercase text-center mb-4">Basket</h2>
                <hr>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <!-- If there are basket items, display the contents -->
                {% if basket.items %}
                    <div class="d-block d-md-none d-flex flex-column align-items-center">
                        <div class="row w-100 g-0">
                            <div class="col d-flex flex-column align-items-center">
                                <div class="d-inline-block" id="total-mobile-block">
                                    {% include "basket/includes/basket_total.html" %}
                                </div>
                            </div>
                        </div>
                        <div class="row g-0 w-100 bg-light position-sticky pt-3" id="checkoutRow">
                            <div class="col-12 mb-3 d-flex flex-column align-items-center">
                                <div class="d-inline-block" id="checkout-buttons-mobile-block">
                                    {% include "basket/includes/basket_buttons.html" %}
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <p class="text-muted mb-3 small">Basket contents below.</p>
                            </div>
                        </div>
                        {% with mode='mobile' %}
                            {% for item in basket.items %}
                                <div class="row w-100 checkout-product-row">
                                    <div class="col-12 col-sm-6 mb-2 text-center">
                                        {% include "basket/includes/product_image.html" %}
                                    </div>
                                    <div class="col-12 col-sm-6 mb-2">
                                        {% include "basket/includes/product_info.html" %}
                                        <div class="mb-0 mt-2">
                                            {% include "basket/includes/quantity_dropdown.html" %}
                                        </div>
                                        <p class="mb-0 mt-2">Price Each: £{{ item.product.get_price.price }}</p>
                                        <p{% if item.quantity > item.product.stock %} class="text-red"{% endif %}><strong>Subtotal: </strong>£{{ item.subtotal }}</p>
                                    </div>
                                </div>
                                <div class="row w-100 checkout-product-row"><div class="col"><hr class="border-dark"></div></div>
                            {% endfor %}
                        {% endwith %}
                    </div>
                    <div class="table-responsive d-none d-md-block overflow-visible">
                        <table class="table table-sm table-borderless">
                            <thead class="text-dark">
                                <tr>
                                    <th scope="col">Product Info</th>
                                    <th scope="col"></th>
                                    <th scope="col">Price</th>
                                    <th scope="col">Qty</th>
                                    <th scope="col">Subtotal</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for item in basket.items %}
                                    <tr>
                                        <td class="p-3 ps-0 w-25 text-center align-middle">
                                            {% include "basket/includes/product_image.html" %}
                                        </td>
                                        <td class="py-3">
                                            {% include "basket/includes/product_info.html" %}
                                        </td>
                                        <td class="py-3">
                                            <p class="my-0">£{{ item.product.get_price.price }}</p>
                                        </td>
                                        <td class="py-3">
                                            {% include "basket/includes/quantity_dropdown.html" %}
                                        </td>
                                        <td class="py-3 pe-0">
                                            <p class="my-0{% if item.quantity > item.product.stock %} text-red{% endif %}">£{{ item.subtotal }}</p>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <!-- desktop back to top button -->
                    <div class="row position-sticky btt-row d-none d-md-flex pe-none">
                        <div class="col-12 text-end">
                            {% include "includes/btt_button.html" %}
                        </div>
                    </div>
                    <div class="d-none d-md-flex row g0 pt-3">
                        <div class="col-12 text-end">
                            {% include "basket/includes/basket_total.html" %}
                        </div>
                    </div>
                    <div class="d-none d-md-flex row g0 mt-2 mb-3">
                        <div class="col-12 text-end">
                            {% include "basket/includes/basket_buttons.html" %}
                        </div>
                    </div>
                <!-- Otherwise display a message and a keep shopping button -->
                {% else %}
                    <p class="lead mb-3">Your basket is empty.</p>
                    <a href="{% url 'all_games' %}" class="btn btn-outline-dark text-dark hover-background-red btn-lg">
                        <span class="icon">
                            <i class="fas fa-chevron-left"></i>
                        </span>
                        <span class="text-uppercase">Keep Shopping</span>
                    </a>
                {% endif %}
            </div>
        </div>
    </div>
    <!-- mobile back to top button -->
    <div class="d-inline d-md-none pe-none">
        {% include "includes/btt_button.html" %}
    </div>
{% endblock content %}

{% block postload_js %}
    {{ block.super }}
    <script src="{% static 'basket/js/shopping_controls.js' %}"></script>
{% endblock postload_js %}