:root {
    --active-color: #a00b0b;
    --highlight-color: #c60001;
    --shadow-color: rgba(210,62,62,.25);
    --background-color: #f8f9fa;
    --text-color: #212529;
    --alt-text-color: #f8f9fa;
    --navbar-toggler-highlight: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='%23c60001' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
    --sidenav-close-highlight: transparent url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23c60001'%3e%3cpath d='M.293.293a1 1 0 011.414 0L8 6.586 14.293.293a1 1 0 111.414 1.414L9.414 8l6.293 6.293a1 1 0 01-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 01-1.414-1.414L6.586 8 .293 1.707a1 1 0 010-1.414z'/%3e%3c/svg%3e") center/1em auto no-repeat;
    --nav-border-color: #ced4da;
    --shade-background: rgba(0, 0, 0, 0.35);
    --adjust-for-header: 164px;
    --adjust-for-basket-total-and-checkout-buttons: 201.633px;
}

html {
    height: 100%;
}

body {
	background: url('/media/covers/gw/gw_cover_1080.webp') center top / cover no-repeat fixed;
    background-color: var(--background-color);
    height: calc(100vh - 164px);
    color: var(--text-color);
    font-family: "Noto Sans", "Noto Sans JP", sans-serif;
    min-width: 280px;
}

body * {
    border-radius: 0 !important;
}

#scrollTopAnchor {
    position: absolute;
    width: 1px;
    height: 1px;
    top: 38px;
    left: 0;
}

/* Apply a filter to darken the body background image */
#shade-background {
    position: absolute;
    z-index: -1;
    height: 100%;
    width: 100%;
    background: var(--shade-background);
}

/* Adjust width of Bootstrap Offcanvas component (#sideNav) */
.offcanvas-start {
    width: calc(100% - 50px);
    max-width: 300px;
    min-width: 248px;
}

/* Absolutely position #sideNav close button to prevent adjustment if title wraps */
.offcanvas-header .btn-close:not(.btn-light-close) {
    position: absolute;
    right: 1rem;
    top: 1.5874996185302734rem;
}

/* Ensure sideNav urls can wrap */
#sideNav .offcanvas-body a.dropdown-item {
    white-space: break-spaces;
}

/* Add negative margins for .product-navbar */
.product-navbar {
    margin-right: -12px;
    margin-left: -12px;
}

/* Add left margin for site logo icon */
.site-logo > i {
    margin-left: .15rem;
}

/* from Bulma via Boutique Ado sample project */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

/* Helper class, and dropdown-item hover */
.hover-background-red:hover,
ul.pagination > li.page-item.active > .page-link:hover,
.dropdown-item:hover {
    background: var(--highlight-color) !important;
    color: var(--alt-text-color) !important;
}

.hover-background-red:focus,
.hover-background-red:active {
    box-shadow: 0 0 0 .25rem var(--shadow-color) !important;
}

/* Helper classes, and dropdown-toggle hover */
.text-red,
.icon-red,
.hover-color-red:hover,
.dropdown:hover .dropdown-toggle::after,
.dropdown:hover .dropdown-toggle-inverted::after {
    color: var(--highlight-color) !important;
}

.text-active {
    color: var(--active-color) !important;
}

/* no box-shadow on navbar-toggler:focus */
.navbar-toggler:focus {
    box-shadow: initial !important;
}

/* red border on navbar-toggler:hover */
.navbar-toggler:hover {
    border-color: var(--highlight-color) !important;
}

/* navbar-toggler-icon red on hover */
/* Copied from bootstrap and stroke color adjusted */
.navbar-toggler:hover > .navbar-toggler-icon,
.navbar-toggler-icon:hover {
    background-image: var(--navbar-toggler-highlight)
}

/* sideNav close button red on hover */
/* Copied from bootstrap and fill color adjusted */
.btn-close:hover {
    background: var(--sidenav-close-highlight)
}

.btn-light-close {
    background: transparent url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23f8f9fa'%3e%3cpath d='M.293.293a1 1 0 011.414 0L8 6.586 14.293.293a1 1 0 111.414 1.414L9.414 8l6.293 6.293a1 1 0 01-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 01-1.414-1.414L6.586 8 .293 1.707a1 1 0 010-1.414z'/%3e%3c/svg%3e") center/1em auto no-repeat;
}

/* Inverts dropdown-toggle arrow */
.dropdown-toggle-inverted::after {
    display: inline-block;
    margin-left: .255em;
    vertical-align: .255em;
    content: "";
    border-bottom: .3em solid;
    border-right: .3em solid transparent;
    border-top: 0;
    border-left: .3em solid transparent;
}

/* index.html cta container */
#cta-container {
    max-width: 490px;
}

/* .shop-now-button, and active dropdown-item colors */
.dropdown-item.active,
.dropdown-item:active,
.shop-now-button {
    background: var(--active-color);
    color: var(--alt-text-color);
}

.btn-red {
    background: var(--active-color) !important;
    color: var(--alt-text-color) !important;
}


/* .shop-now-button width */
.shop-now-button {
    min-width: 224px;
    width: 100%;
}

/* .shop-now-button focus shadow */
.shop-now-button:focus {
	outline: 0;
	box-shadow: 0 0 0 .25rem var(--shadow-color);
}

.form-control:focus {
    box-shadow: 0 0 0 .25rem var(--shadow-color);
    border-color: var(--text-color);
}

.qty-input-container .form-control:focus,
.search-input-container .form-control:focus {
    box-shadow: initial;
}

.search-input-container button:focus,
.search-input-container button:active {
    box-shadow: initial !important;
}

.input-container-box-shadow {
    box-shadow: 0 0 0 .25rem var(--shadow-color);
}

.mobile-sort-filter-button a:focus,
.mobile-sort-filter-button a:active {
    box-shadow: initial !important;
}

.btn-close:focus {
    box-shadow: initial !important;
}

.btn {
    padding: .375rem .375rem;
}

.btn.position-relative:not(.icon-end) {
    padding-left: 1.875rem;
}

.btn.position-relative.icon-end {
    padding-right: 1.875rem;
}

.btn.position-relative:not(.icon-end) > .icon {
    position: absolute;
    left: 0.21875rem;
    top: 50%;
    transform: translateY(-50%);
}

.btn.position-relative.icon-end > .icon {
    position: absolute;
    right: 0.21875rem;
    top: 50%;
    transform: translateY(-50%);
}

.btn.position-relative > span.text-uppercase {
    height: 1.5rem;
    line-height: 1.5rem;
    display: inline-block;
}

/* modified .header-container class from boutique ado sample project */
.header-spacer {
    padding-top: var(--adjust-for-header);
}

/* Translucent black background with white text */
.darken {
    background: rgba(0, 0, 0, 0.75);
    color: var(--alt-text-color);
}

/* Translucent white background with black text */
.lighten {
    background: rgba(255, 255, 255, .89);
    color: var(--text-color);
}

.z-index-bottom {
    z-index: -1;
}

.product-image-container {
    height: 200px;
}

.product-line-image-container {
    height: initial;
}

.product-image {
    max-height: 200px;
    height: auto;
    width: auto;
}

.product-line-image {
    height: auto;
    width: auto;
}

.product-detail-image-container {
    height: calc(calc(calc(100vh - var(--adjust-for-header)) - 3rem) / 2);
}

.product-detail-image {
    max-height: calc(calc(100vh - var(--adjust-for-header) - 3rem) / 2);
    height: auto;
    width: auto;
}

.basket-image {
    max-height: 150px;
    max-width: 150px !important;
}

.table-responsive table tbody tr td p:first-of-type {
    margin-top: .375rem !important;
}

.table-responsive table tbody tr td p:first-of-type:not(.out-of-stock) {
    margin-bottom: 1rem !important;
}

.product-detail-col .card-body {
    flex: initial;
}

.offset-end-1 {
    right: 0;
    margin-right: 8.3333333333%
}

.sub-arrow {
	transform: rotate(90deg) translateY(-4.75px);
	margin-right: .25rem;
}

.check-sub-arrow {
    padding-left: 3em;
}

.check-sub-arrow > .sub-arrow {
    float: left;
    margin-left: -3em;
    margin-top: .2em;
}

li.nav-item.dropdown.position-relative > a.nav-link ~ .dropdown-menu {
    min-width: 100%;
}

li.nav-item.dropdown.position-relative > a.nav-link.me-4 ~ .dropdown-menu {
    min-width: calc(100% - 1.5rem);
}

/* Allauth form formatting */

.allauth-form-inner-content p a {
    color: var(--active-color) !important
}

.allauth-form-inner-content p a:hover {
    color: var(--highlight-color) !important
}

.allauth-form-inner-content input {
    border-color: var(--text-color);
    border-radius: 0;
}

.allauth-form-inner-content label:not([for='id_remember']) {
    display: none;
}

.allauth-form-inner-content input::placeholder {
    color: #6c757d; /* text-muted */
}

/* Messages container for Bootstrap Toasts */
/* from boutique ado sample project */
.message-container {
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 99999999999;
}

.message-container.search-message {
    top: .25rem;
    right: initial;
}

.message-container.basket-message {
    top: .25rem;
    right: 0;
}

.mobile-nav .message-container.basket-message {
    top: .6rem;
    right: 0;
}

.toast-capper {
    height: 3px;
}

/* --------------------------------- Custom styled .dropdown */
.dropdown-wrapper > .dropdown {
    width: 100%;
}

.dropdown-wrapper > .dropdown > .dropdown-menu {
    width: 100%;
    box-sizing: initial;
}

.dropdown-wrapper,
.dropdown-wrapper > .dropdown,
.dropdown-wrapper > .dropdown > .dropdown-toggle,
.dropdown-wrapper > .dropdown > .dropdown-menu {
    min-width: 10em;
}

.dropdown-wrapper > .dropdown > .dropdown-toggle {
    display: block;
    width: 100%;
}

.dropdown-wrapper > .dropdown > .dropdown-toggle,
.dropdown-wrapper > .dropdown > .dropdown-menu > .dropdown-item {
    /* padding-left: .255em !important;
    padding-right: 1rem !important; */
    padding-left: 1rem !important;
    padding-right: 2rem !important;
}

.dropdown-wrapper > .dropdown > .dropdown-toggle::after {
    position: absolute;
    /* right: .255em; */
    right: 1rem;
    top: calc(50% - .1275em);
}

.dropdown-wrapper > .dropdown > .dropdown-menu {
    padding: 0.1rem 0 !important;
    inset: calc(100% + 1px) auto auto -1px !important;
    transform: none !important;
}

.dropdown-wrapper > .dropdown > .dropdown-toggle,
.dropdown-wrapper > .dropdown > .dropdown-menu > a {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.force-show {
    display: block !important;
}

.fit-content {
    display: inline-block !important;
    width: initial !important;
}
/* --------------------------------- End Custom styled .dropdown */

/* Style check boxes */
.form-check-input:checked {
	background-color: var(--active-color);
	border-color: var(--active-color);
}

.form-check-input:focus {
	border-color: var(--highlight-color);
	outline: 0;
    box-shadow: 0 0 0 .25rem var(--shadow-color);
}

.form-check-input[type="radio"] {
	border-radius: 50% !important;
}

/* Style pagination controls */
.page-item.active .page-link {
	color: var(--alt-text-color);
	background-color: var(--active-color);
	border-color: var(--active-color);
}

.page-input,
.page-link {
	color: var(--text-color);
	background-color: var(--background-color);
}

.page-link:hover {
	color: var(--highlight-color);
	background-color: var(--background-color);
}

.page-link:focus {
	color: var(--highlight-color);
	background-color: var(--background-color);
	outline: 0;
	box-shadow: 0 0 0 .25rem var(--shadow-color);
}

.page-label {
    width: 65px;
}

.page-label:focus,
.page-label:hover {
    z-index: initial;
}

.page-input {
	background-clip: padding-box;
	border: 1px solid var(--nav-border-color);
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	border-radius: .25rem;
	transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
	text-align: center;
	width: 45px;
}

.page-input:focus {
    background-color: var(--background-color);
	outline: 0;
}

.qty-border,
.pagination-border {
    border: 1px solid var(--nav-border-color);
}

.pagination-mt-1 {
    margin-top: .1875rem;
}

.pagination-py {
    padding: .375rem 0;
}

.pagination-px {
    padding-left: .75rem;
    padding-right: .75rem;
}

.qty-dropdown .dropdown-toggle,
.pagination-dropdown .dropdown-toggle {
    padding: .375rem .75rem !important
}

.qty-dropdown .dropdown-toggle::after,
.pagination-dropdown .dropdown-toggle::after {
    position: initial;
}

.dropdown-wrapper.qty-dropdown,
.dropdown-wrapper.pagination-dropdown,
.dropdown-wrapper.qty-dropdown > .dropdown,
.dropdown-wrapper.pagination-dropdown > .dropdown,
.dropdown-wrapper.qty-dropdown > .dropdown > .dropdown-toggle,
.dropdown-wrapper.pagination-dropdown > .dropdown > .dropdown-toggle,
.dropdown-wrapper.qty-dropdown > .dropdown > .dropdown-menu,
.dropdown-wrapper.pagination-dropdown > .dropdown > .dropdown-menu {
    min-width: 66px;
}

.dropdown-wrapper.qty-dropdown > .dropdown,
.dropdown-wrapper.pagination-dropdown > .dropdown {
    width: initial;
}

.pagination-product-count-label {
    min-width: 67px;
}

.pagination-product-count-label > span.d-xl-none {
    margin-top: .8125rem;
}

#checkoutRow,
#largePagination,
#smallPaginationPages {
    z-index: 900;
    top: var(--adjust-for-header);
}

#checkoutRow ~ .row .dropdown-menu {
    z-index: 850 !important;
}

.mobile-sort-filter-button {
    min-height: calc(100vh - var(--adjust-for-header));
}

.mobile-sort-filter-button,
.mobile-sort-filter-button > .btn-dark[data-bs-toggle],
.mobile-sort-filter-button > .btn-dark[data-bs-toggle] > span.position-fixed {
    width: 33px !important;
}

#sortFilterOffCanvas {
    z-index: 950 !important;
}

#sortFilterOffCanvas ~ .modal-backdrop {
    z-index: 940 !important;
}

#sortFilterOffCanvas {
    margin-top: var(--adjust-for-header);
}

#sortFilterOffCanvas ~ .modal-backdrop {
    top: var(--adjust-for-header);
}

.mobile-sort-filter-button > .btn-dark[data-bs-toggle] > span.position-fixed {
    left: 0;
    top: var(--adjust-for-header);
    height: calc(100vh - var(--adjust-for-header));
}

.mobile-sort-filter-button > .btn-dark[data-bs-toggle]:focus {
    box-shadow: none;
}

/* modified .btt-button class from boutique ado sample project */
.btt-button {
    position: fixed;
    bottom: 1rem;
    right: 1.75rem;
    visibility: hidden;
    opacity: 0;
    transition: opacity .5s, visibility .5s;
}

.btt-row {
    margin-top: -.375rem;
    bottom: 1rem;
}

.btt-row .btt-button {
    position: initial;
    bottom: initial;
    right: initial;
}

.filter-btt-button {
    position: sticky;
    top: calc(var(--adjust-for-header) + 1rem);
}

.product-filter-container {
    max-width: 300px;
    min-width: 248px;
    min-height: calc(100vh - var(--adjust-for-header));
}

/* --------------------------------- Media queries */

/* Bootstrap sm */
@media (min-width: 576px) {
    .position-sm-absolute {
        position: absolute;
    }

    .offset-sm-end-1 {
        right: 0;
        margin-right: 8.3333333333%
    }

    .basket-image {
        max-height: 258px;
        max-width: 258px !important;
    }
}

/* Bootstrap md */
@media (min-width: 768px) {
    .pagination-py-md {
        padding: .375rem 0 !important;
    }

    .align-md-top {
        vertical-align: top !important;
    }

    .qty-input-group {
        min-width: 253px;
    }

    .basket-image {
        max-height: 150px;
        max-width: 150px !important;
    }

    .stock-warning {
        margin-top: -0.0625rem !important;
        padding-bottom: 0.350rem !important;
        line-height: 1.95;
    }

    .out-of-stock {
        margin-bottom: 1.25rem !important;
    }

    .checkout-buttons > .btn {
        font-size: 1.25rem !important;
    }

    .adjust-for-basket-total-and-checkout-buttons {
        position: sticky;
        bottom: var(--adjust-for-basket-total-and-checkout-buttons);
        right: 1.75rem;
    }
}

/* Bootstrap lg */
@media (min-width: 992px) {
    .pagination-py-lg {
        padding: .375rem 0 !important;
    }

    .align-lg-top {
        vertical-align: top !important;
    }

    .product-detail-image-container {
        height: calc(calc(100vh - var(--adjust-for-header)) - 3rem);
    }

    .product-detail-image {
        max-height: calc(100vh - var(--adjust-for-header) - 3rem);
    }

    .stock-warning {
        margin-top: 0.1rem !important;
        padding-bottom: 0.350rem !important;
        line-height: 1.5;
    }

    .out-of-stock {
        margin-bottom: 1rem !important;
    }
}

/* Bootstrap xl */
@media (min-width: 1200px) {
    .pagination-py-xl {
        padding: .375rem 0 !important;
    }

    .align-xl-top {
        vertical-align: top !important;
    }

    .stock-warning {
        margin-top: 0.4375rem !important;
    }
}

/* 768p background image */
@media (max-width: 1365px) {
    body {
        background: url('/media/covers/gw/gw_cover_768.webp') center top / cover no-repeat fixed;
    }
}

/* Bootstrap xxl */
@media (min-width: 1400px) {
    .position-xxl-absolute {
        position: absolute;
    }

    .offset-xxl-end-1 {
        right: 0;
        margin-right: 8.3333333333%
    }

    .pagination-py-xxl {
        padding: .375rem 0;
    }
}

/* Large portrait background image */
@media (max-width: 1024px) {
    body {
        background: url('/media/covers/gw/gw_cover_1996.webp') center top / cover no-repeat fixed;
    }

    .stock-warning-break {
        white-space: nowrap;
    }
}

/* pad the top a bit when navbar is collapsed on mobile */
/* altered from boutique ado sample project */
@media (max-width: 991px) {
    :root {
        --adjust-for-header: 86px;
    }

    body {
        height: calc(100vh - 86px);
    }

    .nav-link {
        padding: 0.15rem;
    }

    .nav-link i.fa-lg {
        font-size: 1rem;
    }

    .navbar-toggler {
        padding: .6rem .6rem;
        font-size: 1rem;
    }

    #delivery-banner h4 {
        font-size: .9rem;
    }

    .stock-warning-break {
        white-space: pre-line;
    }
}

/* Portrait background image */
@media (max-width: 768px) {
    body {
        background: url('/media/covers/gw/gw_cover_1372-alt.webp') center top / cover no-repeat fixed;
    }
}

/* Break before Bootstrap md */
@media (max-width: 767px) {
    .dropdown-menu-center {
        left: 50% !important;
        transform: translate(-50%, 25px) !important;
    }

    .stock-warning-break {
        white-space: nowrap;
    }

    /* Bootstrap .small class, restricted to below md breakpoint */
    .small-to-md {
        font-size: .875em;
    }
}

/* Break before Bootstrap sm */
@media (max-width: 575px) {
    .checkout-product-row {
        max-width: calc(370px - 2rem);
    }
}

/* Styling for narrow mobile devices */
@media (max-width: 320px) {
    :root {
        --adjust-for-header: 143.283px;
    }

    .logo-break {
        white-space: pre-line;
    }

    #topNav>nav {
        margin-top: .25rem !important;
    }

    #topNav>nav>ul.d-lg-none {
        padding-left: 0;
        width: 100%;
        margin-top: .5rem;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }

    #topNav>nav>ul.d-lg-none>.list-inline-item {
        margin: 0;
    }

    #topNav>nav>ul.d-lg-none > :first-child,
    #topNav>nav>ul.d-lg-none > :last-child {
        display: inline-flex;
        flex: 1 0 0%;
    }

    #topNav>nav>ul.d-lg-none > :last-child {
        justify-content: end;
    }

    #topNav>nav>ul.d-lg-none > :nth-child(2) {
        display: inline-flex;
        flex: 0 0 auto;
        width: 50%;
        justify-content: center;
    }

    #topNav>nav>ul.d-lg-none > :nth-child(2)>.dropdown-menu {
        right: initial;
        left: 50%;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
    }

    #cta-container {
        width: 91.6666666667%; /* .col-11 */
    }
}

@media (max-width: 319px) {
    #productContainer {
        max-width: calc(100% -  33px);
        padding-left: .75rem;
        padding-right: .75rem;
    }
}

/* Slightly reduce calculated h1 font size for very low screen widths */
@media (max-width: 311px) {
    #cta-row h1 {
        font-size: calc(1.35rem + 1.5vw);
    }

    .fs-5 {
        font-size: 1.15rem !important;
    }

    .shopping-control-btn-row-min > .btn {
        font-size: .917rem;
    }

    .checkout-buttons > .btn {
        font-size: .8494rem;
        min-height: 38px;
    }
}

@media (max-width: 291px) {
    :root {
        --adjust-for-header: 160.567px;
    }
}