{% if widget.is_initial %}
    <p>{{ widget.initial_text }}:</p>
    <a href="{{ widget.value.url }}">
        <img width="96" height="96" class="shadow-sm img-fluid" src="{{ widget.value.url }}" alt="Product Image Thumbnail">
    </a>
    {% if not widget.required %}
        <div class="form-check mt-2">
            <input class="checkboxinput form-check-input" type="checkbox" name="{{ widget.checkbox_name }}" id="{{ widget.checkbox_id }}"{% if widget.attrs.disabled %} disabled{% endif %}>
            <label class="text-danger" for="{{ widget.checkbox_id }}">{{ widget.clear_checkbox_label }}</label>
        </div>
    {% endif %}
    <br>
    {{ widget.input_text }}
{% endif %}
<div id="newImageWrapper">
    <button class="btn btn-dark hover-background-red" id="newImageButton">Select Image</button>
    <input class="d-none new-image-input" type="{{ widget.type }}" name="{{ widget.name }}"{% include "django/forms/widgets/attrs.html" %}>
</div>
<p><small class="text-muted" id="filename"></small></p>
<script>
    $(() => {
        $('#newImageButton').on('click', (e) => {
            e.preventDefault();
            $('#newImageWrapper > .new-image-input').click();
        });

        $('#newImageWrapper > .new-image-input').change((e) => {
            let file = $(e.currentTarget)[0].files[0];
            $('#filename').text(`Image will be set to: ${file.name}`);
        });
    });
</script>