{% load static %}

<ul class="navbar-nav product-nav-ul w-auto mx-auto">
    <li class="nav-item dropdown">
        <a class="text-uppercase fw-bold nav-link text-dark me-5 dropdown-toggle" href="#" id="all-games-toggler" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            All Games
        </a>
        <div class="dropdown-menu bg-light text-dark border-0" aria-labelledby="all-games-toggler">
            <a href="" class="dropdown-item">By Category</a>
            <a href="" class="dropdown-item">By Genre</a>
            <a href="" class="dropdown-item">By Publisher</a>
        </div>
    </li>

    <li class="nav-item dropdown">
        <a class="text-uppercase fw-bold nav-link text-dark me-5 dropdown-toggle" href="#" id="table-top-games-toggler" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Table Top Games
        </a>
        <div class="dropdown-menu bg-light text-dark border-0" aria-labelledby="table-top-games-toggler">
            <a href="" class="dropdown-item">Age of Sigmar</a>
            <a href="" class="dropdown-item">Necromunda</a>
            <a href="" class="dropdown-item">Star Wars: Legion</a>
            <a href="" class="dropdown-item">Star Wars: X-Wing</a>
            <a href="" class="dropdown-item">Warcry</a>
            <a href="" class="dropdown-item">Warhammer 40,000</a>
            <a href="" class="dropdown-item">All Table Top Games</a>
        </div>
    </li>

    <li class="nav-item dropdown">
        <a class="text-uppercase fw-bold nav-link text-dark me-5 dropdown-toggle" href="#" id="card-games-toggler" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Card Games
        </a>
        <div class="dropdown-menu bg-light text-dark border-0" aria-labelledby="card-games-toggler">
            <a href="" class="dropdown-item">Magic: The Gathering</a>
            <a href="" class="dropdown-item">Marvel Champions</a>
            <a href="" class="dropdown-item">All Card Games</a>
        </div>
    </li>

    <li class="nav-item dropdown">
        <a class="text-uppercase fw-bold nav-link text-dark dropdown-toggle" href="#" id="specials-link" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Hobby Supplies
        </a>
        <div class="dropdown-menu bg-light text-dark border-0" aria-labelledby="specials-link">
            <a href="" class="dropdown-item">Brushes and Paints</a>
            <a href="" class="dropdown-item">Glue</a>
            <a href="" class="dropdown-item">Scenics</a>
            <a href="" class="dropdown-item">Tools</a>
            <a href="" class="dropdown-item">All Hobby Supplies</a>
        </div>
    </li>
</ul>

{% block postload_js %}
    <script src="{% static 'js/offCanvasDropdownToCollapse.js' %}"></script>
{% endblock postload_js %}