{% if messages %}
    <div class="message-container search-message w-100 d-flex flex-row justify-content-center position-relative">
        <div class="toast-container position-absolute top-0">
            {% for message in messages %}
                {% if message.extra_tags == 'search' %}
                    {% with message.level as level %}
                        {% if level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                            {% include 'includes/toasts/toast_error.html' %}
                        {% elif level == DEFAULT_MESSAGE_LEVELS.WARNING %}
                            {% include 'includes/toasts/toast_warning.html' %}
                        {% elif level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
                            {% include 'includes/toasts/toast_success.html' %}
                        {% else %}
                            {% include 'includes/toasts/toast_info.html' %}
                        {% endif %}
                    {% endwith %}
                {% endif %}
            {% endfor %}
        </div>
    </div>
{% endif %}