{% load strip_redirect_url %}

<form class="form search-form" method="GET">
    <div class="input-group w-100 search-input-container">
        <input class="form-control border border-dark" type="text" name="q" placeholder="Search our site" maxlength="254">
        <div class="input-group-append">
            <button class="form-control btn btn-dark text-light border border-dark hover-background-red" type="submit">
                <span class="icon">
                    <i class="fas fa-search"></i>
                </span>
            </button>
        </div>
    </div>
    <input type="hidden" name="redirect_url" value="{{ request.path }}">
    <input type="hidden" name="redirect_params" value="{% if view == 'search' %}{{ request|strip_redirect_url }}{% else %}{{ request|format_redirect_params }}{% endif %}">
</form>