<li class="list-inline-item me-lg-0">
    <a class="text-dark nav-link hover-color-red d-block d-lg-none" href="#" id="mobile-search" data-bs-toggle="collapse" data-bs-target="#mobile-search-input" aria-haspopup="true" aria-expanded="false">
        <div class="text-center">
            <div><i class="fas fa-search fa-lg"></i></div>
            <p class="my-0">Search</p>
        </div>
    </a>
</li>
<li class="list-inline-item dropdown me-lg-0">
    <a class="text-dark nav-link hover-color-red" href="#" id="user-options" data-bs-toggle="dropdown" data-bs-display="static" aria-haspopup="true" aria-expanded="false">
        <div class="text-center">
            <div><i class="fas fa-user fa-lg"></i></div>
            <p class="my-0">My Account</p>
        </div>
    </a>
    <div class="dropdown-menu border-0 dropdown-menu-end dropdown-menu-lg-start" aria-labelledby="user-options">
        {% if request.user.is_authenticated %}
            {% if request.user.is_superuser %}
                <a href="" class="dropdown-item">Product Management</a>
            {% endif %}
            <a href="" class="dropdown-item">My Profile</a>
            <a href="{% url 'account_logout' %}" class="dropdown-item">Logout</a>
        {% else %}
            <a href="{% url 'account_signup' %}" class="dropdown-item">Register</a>
            <a href="{% url 'account_login' %}" class="dropdown-item">Login</a>
        {% endif %}
    </div>
</li>
<li class="list-inline-item">
    <a class="{% if grand_total %}text-primary fw-bold{% else %}text-dark{% endif %} nav-link hover-color-red" href="">
        <div class="text-center">
            <div><i class="fas fa-shopping-basket fa-lg"></i></div>
            <p class="my-0">
                {% if grand_total %}
                    £{{ grand_total|floatformat:2 }}
                {% else %}
                    £0.00
                {% endif %}
            </p>
        </div>
    </a>
</li>