{% extends "base.html" %}

{% block page_header %}
    <div class="header-spacer"></div>
{% endblock page_header %}

{% block content %}
    <div class="h-100 w-100 bg-light position-fixed top-0 left-0 z-index-bottom"></div>
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-6">
                <div class="allauth-form-inner-content">
                    {% block inner_content %}
                    {% endblock inner_content %}
                </div>
            </div>
        </div>
    </div>
{% endblock content %}