{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="header-spacer"></div>
{% endblock page_header %}


{% block content %}
    <div class="h-100 w-100 bg-light position-fixed top-0 left-0 z-index-bottom"></div>
    <div class="container-fluid">
        {% if products|length > 0 %}
            {% include 'products/includes/product_cards.html' %}
        {% else %}
            <div class="row">
                <div class="col-12 col-lg-10 offset-lg-1 mt-5">
                    <div class="card h-100 border-0">
                        <div class="row g-0">
                            <div class="col-12 col-lg-6">
                                <div class="product-detail-image-container pe-lg-3 d-flex flex-column justify-content-center align-items-center">
                                    <img src="{{ MEDIA_URL }}bug.webp" alt="Product Not Found" class="card-img-top img-fluid product-detail-image">
                                </div>
                            </div>
                            <div class="col-12 col-lg-6 ps-lg-3 product-detail-col d-flex flex-column justify-content-center">
                                <div class="card-body pb-0 px-0">
                                    <h4 class="product-name text-dark">Product Not Found</h4>
                                    <hr>
                                    <p class="product-description fs-6 text-dark">It looks like a bug crept into the system!  It either ate a record, or got stuck in a relay.  Unfortunately, that product cannot be found.</p>
                                    <hr>
                                </div>
                                <div class="card-footer bg-light pt-0 px-0 border-0 text-left">
                                    <div class="row">
                                        <div class="col">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}

{% block postload_js %}
    {{ block.super }}
    <script src="{% static 'js/shopping-controls.js' %}"></script>
{% endblock postload_js %}