{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'products/css/products.css' %}">
{% endblock extra_css %}

{% block page_header %}
    <div class="header-spacer"></div>
{% endblock page_header %}


{% block content %}
    <div class="h-100 w-100 bg-light position-fixed top-0 left-0 z-index-bottom"></div>
    <div class="container-fluid">
        <div class="row">
            <nav class="d-none d-lg-flex flex-column col-lg-3 bg-dark text-light p-3 product-filter-container">
                {% include 'products/includes/sort_filter_menu.html' %}
            </nav>
            <nav class="d-block d-lg-none bg-dark text-light py-0 px-0 mobile-sort-filter-button">
                <a class="btn-dark text-light hover-background-red h-100 w-100 d-block" data-bs-toggle="offcanvas" data-bs-target="#sortFilterOffCanvas" aria-controls="sortFilterOffCanvas" href="">
                    <span class="position-fixed d-flex flex-column justify-content-center align-items-center">
                        <span class="icon">
                            <i class="fas fa-filter"></i>
                        </span>
                        <span class="icon">
                            <i class="fas fa-sort"></i>
                        </span>
                    </span>
                </a>
            </nav>
            <div class="offcanvas offcanvas-start bg-dark text-light p-0 d-lg-none" data-bs-scroll="false" data-bs-backdrop="true" tabindex="-1" id="sortFilterOffCanvas" aria-labelledby="sortFilterOffCanvasLabel">
                <div class="offcanvas-header py-0 bg-dark">
                    <h5 class="d-none offcanvas-title" id="sortFilterOffCanvasLabel">Sort and Filter Side Menu</h5>
                    <button type="button" class="btn-close btn-light-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>
                <div class="offcanvas-body pt-0">
                    {% include 'products/includes/sort_filter_menu.html' %}
                </div>
            </div>
            <div class="col col-lg-9 col-xl g-0" id="productContainer">
                    <div class="row g-0">
                        <div class="col spacer-col"></div>
                        <div class="col-10 product-center-col">
                            <div class="row g-0">
                                <div class="col text-center mt-3">
                                    {% if view == 'search' %}
                                        <h2 class="text-uppercase text-dark" data-view="{{ view }}">Search Results</h2>
                                    {% elif view == 'products' %}
                                        <h2 class="text-uppercase text-dark" data-view="{{ view }}">{{ product_line.name }}</h2>
                                    {% else %}
                                        <h2 class="text-uppercase text-dark" data-view="{{ view }}">All Games</h2>
                                    {% endif %}
                                </div>
                                <div class="col-12 d-flex justify-content-center text-dark">
                                    <hr class="w-50 mb-1">
                                </div>
                            </div>
                        </div>
                        <div class="col spacer-col"></div>
                    </div>
                    {% include 'products/includes/pagination_controls.html' %}
                    <div class="row g-0">
                        <div class="col spacer-col"></div>
                        <div class="product-container col-10 product-center-col">
                            {% if products|length > 0 %}
                                {% include 'products/includes/product_cards.html'%}
                            {% else %}
                                <p class="text-dark fs-5 mt-4 text-center">Nothing to display.  Please adjust your filters, or try another search.</p>
                            {% endif %}
                        </div>
                        <div class="col spacer-col"></div>
                    </div>
            </div>
        </div>
    </div>

    {% include "includes/btt_button.html" %}

{% endblock content %}

{% block postload_js %}
    {{ block.super }}
    <script src="{% static 'products/js/sort_filter_menu.js' %}"></script>
    <script src="{% static 'products/js/pagination_controls.js' %}"></script>
{% endblock postload_js %}