{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="header-spacer"></div>
{% endblock page_header %}


{% comment %}
    <div class="row g-0">
        <div class="col-10 offset-1">
            <div class="row mt-1 mb-2">
                <div class="col-12 col-md-6 my-auto order-md-last d-flex justify-content-center justify-content-md-end">
                    <div class="dropdown-wrapper d-none d-flex justify-content-center justify-content-md-start">
                        <div class="dropdown border border-dark">
                            <a class="text-uppercase fw-bold text-dark dropdown-toggle text-decoration-none" href="#" id="all-games-sort-toggler" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Sort by...
                            </a>
                            <div class="dropdown-menu bg-light text-dark border border-top-0 border-dark shadow-lg dropdown-menu-center" aria-labelledby="all-games-sort-toggler">
                                {% if sort_options.reset %}
                                    <a href="#" data-value="{{ sort_options.reset.value }}" class="dropdown-item {% if applied_sort == sort_options.reset.value %}active{% endif %}">{{ sort_options.reset.text }}</a>
                                {% endif %}
                                {% for option in sort_options.list %}
                                    <a href="#" data-value="{{ option.a.value }}" class="dropdown-item {% if applied_sort == option.a.value %}active{% endif %}">{{ option.a.text }}</a>
                                    <a href="#" data-value="{{ option.b.value }}" class="dropdown-item {% if applied_sort == option.b.value %}active{% endif %}">{{ option.b.text }}</a>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 order-md-first">
                    <p class="text-muted mt-3 text-center text-md-start">
                        {% if filters.stock or filters.categories or applied_sort != 'None_None' %}
                            <span class="small">
                                {% if applied_sort and applied_sort != 'None_None' %}
                                    Remove <a href="#" id="remove-sort-link">Sort</a> |
                                {% endif %}
                            </span>
                        {% endif %}
                        Showing {{ products|length }} of {{ pagination.num_products }} Product{% if pagination.num_products > 1 %}s{% endif %}
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endcomment %}

{% block content %}
    <div class="h-100 w-100 bg-light position-fixed top-0 left-0 z-index-bottom"></div>
    <div class="container-fluid">
        <div class="row">
            <nav class="d-none d-lg-flex flex-column col-lg-3 bg-dark text-light p-3 product-filter-container">
                {% include 'products/includes/sort-filter-menu.html' %}
                <button class="btn btn-light filter-btt-button shadow-sm text-dark border border-light hover-background-red w-100">
                    <span class="icon">
                        <i class="fas fa-arrow-up mx-auto my-auto"></i>
                    </span>
                </button>
            </nav>
            <nav class="d-block d-lg-none bg-dark text-light py-0 px-0 mobile-sort-filter-button">
                <a class="btn-dark text-light hover-background-red h-100 w-100 d-block" data-bs-toggle="offcanvas" data-bs-target="#sortFilterOffCanvas" aria-controls="sortFilterOffCanvas" href="">
                    <span class="position-fixed d-flex flex-column justify-content-center align-items-center">
                        <span class="icon">
                            <i class="fas fa-filter"></i>
                        </span>
                        <span class="icon">
                            <i class="fas fa-sort"></i>
                        </span>
                    </span>
                </a>
            </nav>
            <div class="offcanvas offcanvas-start bg-dark text-light p-0 d-lg-none" data-bs-scroll="false" data-bs-backdrop="true" tabindex="-1" id="sortFilterOffCanvas" aria-labelledby="sortFilterOffCanvasLabel">
                <div class="offcanvas-header h-0 pb-0 bg-dark">
                    <h5 class="d-none offcanvas-title" id="sortFilterOffCanvasLabel">Sort and Filter Side Menu</h5>
                    <button type="button" class="btn-close btn-light-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>
                <div class="offcanvas-body">
                    {% include 'products/includes/sort-filter-menu.html' %}
                </div>
            </div>
            <div class="col col-lg-9 col-xl g-0" id="productContainer">
                    <div class="row g-0">
                        <div class="col-12">
                            <div class="row g-0">
                                <div class="col text-center mt-3">
                                    {% if search_term %}
                                        <h2 class="text-uppercase text-dark" data-view="{{ view }}">Search Results</h2>
                                    {% elif product_line.name %}
                                        <h2 class="text-uppercase text-dark" data-view="{{ view }}">{{ product_line.name }}</h2>
                                    {% else %}
                                        <h2 class="text-uppercase text-dark" data-view="{{ view }}">All Games</h2>
                                    {% endif %}
                                </div>
                                <div class="col-12 d-flex justify-content-center text-dark">
                                    <hr class="w-50 mb-1">
                                </div>
                            </div>
                        </div>
                    </div>
                    {% include 'products/includes/pagination-controls.html' %}
                    <div class="row g-0">
                        <div class="product-container col-10 offset-1">
                            {% include 'products/includes/product_cards.html'%}
                        </div>
                    </div>
            </div>
        </div>
    </div>

    <button class="button d-lg-none btn btn-dark btt-button shadow-sm text-light border border-light hover-background-red">
        <span class="icon">
            <i class="fas fa-arrow-up mx-auto my-auto"></i>
        </span>
    </button>

{% endblock content %}