{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'checkout/css/checkout.css' %}">
    <link rel="stylesheet" href="{% static 'products/css/products.css' %}">
{% endblock extra_css %}

{% block page_header %}
    <div class="header-spacer"></div>
{% endblock page_header %}

{% block content %}
    <div class="h-100 w-100 bg-light position-fixed top-0 left-0 z-index-bottom"></div>
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-6 offset-lg-3">
                <h2 class="logo-font mt-3 mb-4 text-center">Product Management</h2>
                <h5 class="text-muted text-center">{% if view == 'add_publisher' %}Add a Publisher{% elif view == 'edit_publisher' %}Edit Publisher{% endif %}</h5>
                <hr>
            </div>
        </div>

        <div class="row">
            <div class="col-12 col-lg-6 offset-lg-3">
                <form method="POST" id="publisherAdminForm" action="{% if view == 'add_publisher' %}{% url 'add' 'publisher' %}{% else %}{% url 'edit' 'publisher' publisher_id %}{% endif %}" class="form mb-2" enctype="multipart/form-data">
                    {% csrf_token %}
                    <!-- Identifier -->
                    {{ publisher_form.identifier | as_crispy_field }}
                    <!-- Name -->
                    {{ publisher_form.name | as_crispy_field }}
                    <hr>
                    <div class="row position-sticky btt-row pe-none mb-1">
                        <div class="col-12 text-end">
                            {% include "includes/btt_button.html" %}
                        </div>
                    </div>
                    <div class="text-end">
                        <a class="btn btn-outline-dark text-dark hover-background-red" href="{% url 'product_management' %}">Cancel</a>
                        <button class="btn btn-dark text-light hover-background-red" type="submit">{% if view == 'add_product' %}Add Sub Product Line{% else %}Save Changes{% endif %}</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock content %}

{% block postload_js %}
    {{ block.super }}
    <script src="{% static 'products/js/admin_dropdown.js' %}"></script>
    <script src="{% static 'products/js/admin_input_masks.js' %}"></script>
    <script src="{% static 'products/js/admin.js' %}"></script>
{% endblock postload_js %}