{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'checkout/css/checkout.css' %}">
    <link rel="stylesheet" href="{% static 'products/css/products.css' %}">
{% endblock extra_css %}

{% block page_header %}
    <div class="header-spacer"></div>
{% endblock page_header %}

{% block content %}
    <div class="h-100 w-100 bg-light position-fixed top-0 left-0 z-index-bottom"></div>
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-6 offset-lg-3">
                <h2 class="logo-font mt-3 mb-4 text-center">Product Management</h2>
                <h5 class="text-muted text-center">{% if view == 'add_product_line' %}Add a Sub Product Line{% else %}Edit Sub Product Line{% endif %}</h5>
                <hr>
            </div>
        </div>

        <div class="row">
            <div class="col-12 col-lg-6 offset-lg-3">
                <form method="POST" id="subProductLineAdminForm" action="{% if view == 'add_sub_product_line' %}{% url 'add' 'sub_product_line' %}{% else %}{% url 'edit' 'sub_product_line' sub_product_line_id %}{% endif %}" class="form mb-2" enctype="multipart/form-data">
                    {% csrf_token %}
                    <!-- Product Line -->
                    <div class="dropdown-wrapper admin-dropdown d-block w-100 mb-3">
                        <div class="dropdown position-relative border border-1 border-dark">
                            <input type="hidden" name="product_line" value="{{ sub_product_line_form.product_line.value }}" id="id_product_line" data-isvalid="true" disabled>
                            <a class="text-dark dropdown-toggle text-decoration-none" href="#" id="productLineToggler" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" disabled></a>
                            <div class="dropdown-menu bg-light text-dark shadow-lg border border-1 border-dark" aria-labelledby="productLineToggler">
                                <div class="dropdown-items-container"></div>
                            </div>
                        </div>
                        <div class="mb-3 text-danger dropdown-error-message d-none" id="productLineErrors" role="alert"></div>
                        <small id="hint_id_product_line" class="form-text text-muted dropdown-help-text">{{ sub_product_line_form.product_line.help_text }}</small>
                    </div>
                    <!-- Identifier -->
                    {{ sub_product_line_form.identifier | as_crispy_field }}
                    <!-- Name -->
                    {{ sub_product_line_form.name | as_crispy_field }}
                    <!-- Description -->
                    {{ sub_product_line_form.description | as_crispy_field }}
                    <!-- Core_Set -->
                    {{ sub_product_line_form.core_set | as_crispy_field }}
                    <!-- Scenics -->
                    {{ sub_product_line_form.scenics | as_crispy_field }}
                    <!-- Image -->
                    {{ sub_product_line_form.image }}
                    <!-- Hidden -->
                    {{ sub_product_line_form.hidden | as_crispy_field }}
                    <hr>
                    <div class="row position-sticky btt-row pe-none mb-1">
                        <div class="col-12 text-end">
                            {% include "includes/btt_button.html" %}
                        </div>
                    </div>
                    <div class="text-end">
                        <a class="btn btn-outline-dark text-dark hover-background-red" href="{% url 'product_management' %}">Cancel</a>
                        <button class="btn btn-dark text-light hover-background-red" type="submit">{% if view == 'add_product' %}Add Sub Product Line{% else %}Save Changes{% endif %}</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock content %}

{% block postload_js %}
    {{ block.super }}
    <script src="{% static 'products/js/admin_dropdown.js' %}"></script>
    <script src="{% static 'products/js/admin_input_masks.js' %}"></script>
    <script src="{% static 'products/js/admin.js' %}"></script>
{% endblock postload_js %}