{% load message_extra_tag_filters %}

<div class="toast border-top-0 bg-transparent shadow-lg" data-bs-autohide="false" data-toast-id="{{ message.extra_tags|get_sender }}_{{ forloop.counter }}">
    <div class="position-absolute arrow-up border-info {% if '_basket' in message.extra_tags %}basket-arrow{% elif 'search' in message.extra_tags %}search-arrow{% endif %}"></div>
    <div class="toast-content-wrapper bg-light">
    <div class="w-100 toast-capper bg-info"></div>
        <div class="toast-header bg-light text-dark position-relative">
            <h6 class="me-auto">Info<span class="icon text-info"><i class="fas fa-info-circle"></i></span></h6>
            <button type="button" class="ms-2 mb-1 btn-close text-dark" data-bs-dismiss="toast" aria-label="Close"></button>
            <hr class="toast-header-hr position-absolute mb-0 text-dark">
        </div>
        <div class="toast-body bg-light">
            {{ message }}
        </div>
    </div>
</div>