{% load message_extra_tag_filters %}
{% load subtraction_filter %}

<div class="toast border-top-0 bg-light shadow-lg" data-bs-autohide="false" data-toast-id="{{ message.extra_tags|get_sender }}_{{ forloop.counter }}">
    <div class="position-absolute arrow-up border-success {% if '_basket' in message.extra_tags %}basket-arrow{% elif 'search' in message.extra_tags %}search-arrow{% endif %}"></div>
    <div class="toast-content-wrapper bg-light">
        <div class="w-100 toast-capper bg-success"></div>
        <div class="toast-header bg-light text-dark">
            <h6 class="me-auto">Success<span class="icon text-success"><i class="fas fa-check-circle"></i></span></h6>
            <button type="button" class="ms-2 mb-1 btn-close text-dark" data-bs-dismiss="toast" aria-label="Close"></button>
            <hr class="toast-header-hr position-absolute mb-0 text-dark">
        </div>
        <div class="toast-body bg-light">
            <div class="row">
                <div class="col">
                    {{ message }}
            {% if '_basket' in message.extra_tags and basket.grand_total and not on_profile_page %}
                        <hr class="mt-1 mb-3">
                    </div>
                </div>
                    {% if 'id_' in message.extra_tags and 'remove_from_basket' not in message.extra_tags %}
                            {% for item in basket.items %}
                                {% if item.product.id == message.extra_tags|get_product_id %}
                                    <p class="text-uppercase bg-light text-dark py-1">Your Basket ({{ basket.product_count }})</p>

                                    {{ item.quantity }}
                                    <div class="basket-notification-wrapper border border-1 border-success">
                                        {% include 'includes/toasts/toast_product_card.html' %}
                                    </div>

                                    {% if 'add_to_basket' in message.extra_tags and basket.product_count|subtract:item.quantity > 0 %}
                                        <p class="bg-light text-dark mb-0 py-1">...and {{ basket.product_count|subtract:item.quantity }} more items</p>
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                    {% elif 'remove_from_basket' in message.extra_tags and basket.removed_item %}
                        <div class="basket-notification-wrapper border border-1 border-danger">
                            {% include 'includes/toasts/toast_product_card.html' %}
                        </div>
                    {% else %}
                        <p class="text-uppercase bg-light text-dark py-1">Your Basket ({{ basket.product_count }})</p>

                        <div class="basket-notification-wrapper">
                            {% for item in basket.items %}
                                {% include 'includes/toasts/toast_product_card.html' %}
                            {% endfor %}
                        </div>
                    {% endif %}
                    <div class="row">
                        <div class="col">
                            <strong><p class="mt-3 mb-1 text-dark">
                                Basket Total{% if basket.free_delivery_delta > 0 %} (Exc. delivery){% endif %}:
                                <span class="float-right">£{{ basket.total|floatformat:2 }}</span>
                            </p></strong>
                            {% if basket.free_delivery_delta > 0 %}
                                <p class="mb-1 p-2 bg-info shadow-sm text-dark text-center">
                                    Spend another <strong>£{{ basket.free_delivery_delta }}</strong> to get free delivery!
                                </p>
                            {% endif %}
                            <a href="{% url 'view_basket' %}" class="w-100 btn btn-dark text-light btn-block hover-background-red">
                                <span class="text-uppercase">View Basket</span>
                                <span class="icon">
                                    <i class="fas fa-shopping-basket"></i>
                                </span>
                            </a>
                        </div>
                    </div>
            {% else %}
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
</div>