<div class="row">
    <div class="col-3 my-1 pe-0 d-flex flex-col justify-content-center align-items-center">
        {% if basket.removed_item %}
            <img class="img-fluid basket-summary-image" src="{% if basket.removed_item.product.image %}{{ basket.removed_item.product.image.url }}{% else %}{{ MEDIA_URL }}noimage.png{% endif %}" alt="{{ basket.removed_item.product.name }}">
        {% else %}
            <img class="img-fluid basket-summary-image" src="{% if item.product.image %}{{ item.product.image.url }}{% else %}{{ MEDIA_URL }}noimage.png{% endif %}" alt="{{ item.product.name }}">
        {% endif %}
    </div>
    <div class="col-9">
        {% if basket.removed_item %}
            <p class="my-0"><strong>{{ basket.removed_item.product.name }}</strong></p>
            <p class="my-0 small text-muted">Qty: {{ basket.removed_item.quantity }}</p>
            <p class="my-0 small text-muted">Subtotal: £{{ basket.removed_item.subtotal }}</p>
        {% else %}
            <p class="my-0"><strong>{{ item.product.name }}</strong></p>
            <p class="my-0 small text-muted">Qty: {{ item.quantity }}</p>
            <p class="my-0 small text-muted">Subtotal: £{{ item.subtotal }}</p>
        {% endif %}
    </div>
</div>